{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Movies</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'movies/css/output.css' %}" />
  <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>

<body class="font-sans max-w-4xl mx-auto bg-neutral-100" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div>
        {% include "movies/head.html" %}
    </div>
  <article>
    {% block article %}
    {% endblock article %}
  </article>

  <footer class="text-center mt-8">
      <p class="mt-10 text-center text-sm text-gray-500">Proyecto de ejemplo de la materia Programación Web</p>
      <p><a href="https://github.com/Nombre-S/MyMovies" target="_blank" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">GitHub Repository</a></p>
  </footer>
</body>

</html>
