<!DOCTYPE html>
<html lang="en">

<head>
  <title>Página de Ejemplo</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/movies/css/output.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>

<body class="font-sans max-w-4xl mx-auto" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <header class="flex flex-col items-center mt-5">
    <div class="relative inline-block">
      <h1 class="text-3xl font-medium text-center">My Movies</h1>
      <div class="absolute bottom-0 left-0 w-full h-0.5 bg-sky-500"></div>
    </div>
    <nav class="mt-2">
      <ul class="flex space-x-4">
        {% if user.is_authenticated %}
          <li class="font-semibold">Bienvenido, {{ user.username }}</li>
                    <li><a href="{% url 'logout_view'  %}" class="text-blue-500 hover:underline">Logout</a></li>
        {% else %}
          <li><a href="" class="text-blue-500 hover:underline">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <article>
    {% block article %}
    {% endblock article %}
  </article>

  <footer class="text-center mt-8">
    <p>Proyecto de ejemplo de la materia Programación Web</p>
    <p><a href="https://github.com/Nombre-S/MyMovies" class="text-blue-500 hover:underline">GitHub Repository</a></p>
  </footer>
</body>

</html>
