{% extends "movies/base.html" %}

{% block article %}
<article class="container mx-auto p-6 bg-white shadow-lg rounded-lg">
  <div class="flex justify-center mb-6">
    <h1 class="text-3xl font-bold">{{ movie.title }} <span class="text-black-600">({{ movie.release_date|date:"Y" }})</span></h1>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="md:col-span-1 flex justify-center">
      <img class="rounded-lg shadow-lg w-64 h-auto" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{ movie.poster_path }}" alt="{{ movie.title }}">
    </div>

    <div class="md:col-span-2">
      <div class="mb-4">
        <h2 class="text-2xl font-semibold">Overview</h2>
        <p class="text-gray-700">{{ movie.overview }}</p>
      </div>

      <div class="mb-4">
        <h2 class="text-2xl font-semibold">Details</h2>
        <ul class="flex flex-wrap gap-2 text-gray-600">
          <li class="bg-gray-200 rounded px-2 py-1">Released: {{ movie.release_date|date:"m/d/Y" }}</li>
          <li class="bg-gray-200 rounded px-2 py-1">Runtime: {{ movie.running_time }} mins</li>
          {% for genre in movie.genres.all %}
            <li class="bg-gray-200 rounded px-2 py-1">{{ genre.name }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="bg-gray-100 p-4 rounded-lg shadow-inner">
        <h2 class="cursor-pointer font-semibold text-gray-700">Production Details</h2>
        <div class="mt-2 space-y-2">
          <p>Budget: ${{ movie.budget|floatformat:0 }}</p>
          <p>Revenue: ${{ movie.revenue|floatformat:0 }}</p>
        </div>
      </div>
    </div>
  </div>
</article>
{% endblock article %}

